@keyframes nav {
    from {
        color: red;
    }
    to {
        color: white;
    }
}
body {
    color: white;
    background-color: black;
}
#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav h1 {
    margin-left: .25em;
    margin-right: .25em;
}
#nav nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
}
#nav nav ul li {
    margin-left: .25em;
    margin-right: .25em;
}
@media (max-width: 1040px) {
    #nav {
        display: block;
    }
}
@media (max-width: 650px) {
    #nav nav ul {
        display: block;
    }
}
section p {
    margin-left: 1em;
}
.banner {
    width: 100%;
}
#links li {
    list-style-type: none;
}
#links li a {
    color: inherit;
}
#links li a:hover {
    animation: nav 250ms;
    animation-fill-mode: both;
    animation-direction: alternate;
}
.container {
    color: white;
    background-color: rgb(30, 30, 30);
    width: 90%;
    margin: auto;
}
h1, h2, h3 {
    font-weight: bold;
}
div, h1, h2, h3, ul, p {
    margin-top: 1em;
    margin-bottom: 1em;
}
table {
    border: 2px solid red;
}
table th, table td {
    text-align: center;
    padding: 1em;
    border: 2px solid red;
}
form * {
    outline: none;
}
ul {
    padding-left: 1em;
}
li {
    list-style-position: inside;
    list-style-type: disc;
}
h1 {
    font-size: 2em;
}
h2, h3 {
    font-size: 1.5em;
}
i {
    font-style: italic;
}
h2 {
    background-color: red;
}
h3 {
    background-color: red;
    text-decoration: underline;
}
#musics {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#musics div {
    border: 1px solid white;
    box-shadow: 5px 5px black;
    margin-left: 1em;
    margin-right: 1em;
}
#musics div h4 {
    font-size: 125%;
}
footer {
    background-color: rgb(30, 30, 30);
}
footer ul {
    margin-bottom: 0em;
}
.name {
    color: red;
    font-size: 200%;
    text-align: center;
}
.name h1 {
    text-decoration: underline;
}
#contato form {
    text-align: center;
}
#contato form div {
}
#contato form input, #contato form textarea {
    padding: .5em;
    border-radius: 1em;
    outline: none;
    border: none;
}
#contato form div p {
    margin-top: 0em;
    margin-bottom: .25em;
    margin-left: 0em;
    margin-right: 0em;
}