body {
    color: white;
    background-color: black;
    margin: auto;
}
.banner {
    width: 100%;
}
.navitem {
    color: inherit;
    font-style: normal;
    text-decoration: none;
}
.container {
    color: white;
    background-color: rgb(30, 30, 30);
    width: 90%;
    margin: auto;
}
h1, h2, h3 {
    font-weight: bold;
}
h1, h2, h3, ul, p {
    margin-top: 1em;
    margin-bottom: 1em;
}
ul {
    padding-left: 1em;
}
li {
    list-style-type: disc;
}
h1 {
    font-size: 2em;
}
h2, h3 {
    font-size: 1.5em;
}
i {
    font-style: italic;
}
h2 {
    background-color: red;
}
h3 {
    background-color: red;
    text-decoration: underline;
}
footer {
    background-color: rgb(30, 30, 30);
}
.name {
    color: red;
    font-size: 200%;
    text-align: center;
}