body {
    color: white;
    background-color: black;
    margin: auto;
}
.banner {
    width: 100%;
}
.container {
    color: white;
    background-color: rgb(30, 30, 30);
    width: 90%;
    margin: auto;
}
h2 {
    background-color: red;
}
h3 {
    background-color: red;
    text-decoration: underline;
}
footer {
    background-color: rgb(30, 30, 30);
    margin-left: 3%;
}
.name {
    color: red;
    font-size: 200%;
    text-align: center;
}